<% layout("layouts/boilerplate") -%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">
          
    <h3><%= listing.title %> </h3>
</div>
    <div class="card col-6 offset-3 show-card listing-card">
        <img class="card-img-top show-img" src="<%= listing.image %>" alt="listing_image">
        <div class="card-body">
          <p class="card-text">
            <br>
           <p> Owned by <i><%= listing.owner.username %></i></p>
           <p> <%= listing.description %> </p>
            <p> &#8377; <%= listing.price.toLocaleString("en-IN") %> </p>
            <p> <%= listing.location %> </p>
            <p> <%= listing.country %> </p>

        </p>
        </div>
    </div>
    
    <br>
    
    
    
   

</div>

    <div class="col-8 offset-3">
        <h4>Actions</h4>
        <p>As the owner of this listing, you can edit or delete it.</p>
    </div>
    <% if(currentUser && listing.owner.equals(currentUser._id)) { %>
<div class="btns mb-4">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3">Edit</a>
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-danger offset-5">Delete</button>
    </form>
</div>
<% } %>
</div>

<div class="col-8 offset-3 mb-3">
    <hr>
    <% if(currentUser) { %>
    <h4>Leave a Review</h4>
    <form action="/listings/<%= listing.id %>/reviews" method="post" novalidate class="needs-validation"> 
        <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]" >
        </div>
        <div class="mb-3 mt-3">
            <label for="comment">Comments</label>
            <textarea name="review[comments]" id="comment" cols="38" rows="5" class="form-control"
            required></textarea>
            <div class="invalid-feedback">Please add some comments for review</div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
    </form>
    <hr>
    <% } %>


 <p><b>All Reviews </b></p>
    <div class="row">

   <% for(review of listing.reviews) { %>
    <div class="card col-5 ms-3 mb-3 "> 
        <div class="card-body "></div>
        <h5 class="card-title">@<%= review.author.username %></h5>
        <p class="card-text"><%= review.comments %></p>
        <p class="card-text"><%= review.rating %> stars</p>
        <form class="mb-3" method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
            <button class="btn btn-sm btn-dark"> Delete</button>
        </form>
    </div>
    
<% } %>
</div>
</div>

</body>
       